* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 0;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_links_container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.logo img {
    display: inline-block;
    width: auto;
    height: 30px;
}

nav ul {
    display: flex;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    gap: 20px;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: black;
    font-weight: 500;
    transition: color 0.3 ease;
}

nav ul li a:hover {
    color: black;
    text-decoration: underline;
}

.header_button .button {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 0.1px solid;
    padding: 10px 20px;
    transition: color 0.3s ease;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
}

.header_button .button:hover {
    background-color: #a2a2b8;
}

.hamburger_menu {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    z-index: 100;
    cursor: pointer;
}

.hamburger_menu .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;    
}

.hamburger_menu.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger_menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger_menu.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

h1 {
    padding: 50px 0 20px 0;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
}

.bottles_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.pill_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    color: white;
    flex-shrink: 0;
    flex-grow: 1;
}

.card_left_content {
    flex: 1;
    padding-right: 15px;
    text-align: left;
    align-self: flex-start;
}

.card_right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.blue_pills {
    background: linear-gradient(180deg,rgba(27, 95, 122, 1) 0%, rgba(136, 170, 191, 1) 50%, rgba(211, 224, 230, 1) 100%);
}

.yellow_pills {
    background: linear-gradient(180deg,rgba(186, 115, 0, 1) 0%, rgba(209, 193, 151, 1) 50%, rgba(211, 224, 230, 1) 100%);
}

.pill_card .responsive_img {
    height: 300px;
    width: auto;
    margin: 20px 0;
    object-fit: contain;
}

.get_started_button {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
}

.get_started_button::after{
    content: '\279c';
    margin-left: 10px;
    font-size: 1.3em;
}

.get_started_button:hover::after {
    transform: translateX(5px);
}

.grid_container {
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}   

.grid {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}

.left_grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15px;
}

.right_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px; 
}

.comming_soon_img {
    height: 100px;
    width: 100px;
}

.arrow {
    height: 50px;
    width: 50px;
}

.us_us_fda {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.licence, 
.heart, 
.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.icon_img {
    height: 50px;
    width: 50px;
}

.erectile_dysfunction {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;
    padding: 50px;
}

.ed_left_top_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 40px 80px 40px;
    background-color: white;
}

.ed_left_top_content h2 {
    font-size: 48px;
    font-family: "Outfit", sans-serif;
}

.ed_left_top_content p {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.ed_left_bottom_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 50px;
}

.ed_right_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pills_bag {
    height: 200px;
    width: 300px;
}

.couple_kissing {
    display: block;
    object-fit: cover;
    height: 600px;
    width: 400px;
}

.start_treatment_button {
    background-color: #e4002b;
    display: inline-flex;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.start_treatment_button:hover {
    background-color: #c00025;
}

.start_treatment_button::after {
    content: '\279C';
    font-size: 1.2em;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.start_treatment_button:hover::after {
    transform: translateX(5px);
}

hr {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.treatments h2 {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.generic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 30px;
}

.generic .responsive_img {
    height: 400px;
    width: 400px;
}

.generic p {
    max-width: 400px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 20px;
}

.generic h3 {
    max-width: 400px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.generic_buttons {
    display: row;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.red_button {
    background-color: #e4002b;
    display: inline-flex;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.red_button:hover {
    background-color: #c00025;
}

.white_button {
    background-color: white;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: 1px solid black;
}

.white_button:hover {
    background-color: grey;
}

.generic a {
    text-decoration: underline;
    color: darkblue;
}

.generic a:hover {
    color: #a2a2b8;
}

.hair_loss {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.hl_left .responsive_img {
    display: block;
    object-fit: cover;
    height: 600px;
    width: 400px;
}

.hl_right_top_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 40px 80px 40px;
    background-color: white;
}

.hl_right_top_content h2 {
    font-size: 48px;
    font-family: "Outfit", sans-serif;
}

.hl_right_top_content p {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.hl_right_bottom_content {
    display: flex;
    flex-direction: row;
}

.hl_right_right_bottom_content {
    display: flex;
    flex-direction: column;
}

.hl_right_right_bottom_content h3 {
    max-width: 400px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.hl_img {
    height: 300px;
    width: 300px;
}

.hl_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.hl_right_bottom_content .grey_button {
    background-color: #b3b3b3;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.hl_right_bottom_content .grey_button:hover {
    background-color: darkgray;
}

.hl_right_bottom_content .white_button {
    background-color: white;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: 1px solid black;
}

.hl_right_bottom_content .white_button:hover {
    background-color: darkgray;
}

.testosterone {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.test_right .responsive_img {
    display: block;
    object-fit: cover;
    height: 600px;
    width: 400px;
}

.test_left_top_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 40px 80px 40px;
    background-color: white;
}

.test_left_top_content h2 {
    font-size: 48px;
    font-family: "Outfit", sans-serif;
}

.test_left_top_content p {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.test_left_bottom_content {
    display: flex;
    flex-direction: row;
}

.test_left_right_bottom_content h3 {
    max-width: 400px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.test_img {
    height: 300px;
    width: 300px;
}

.test_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.test_left_right_bottom_content .grey_button {
    background-color: #b3b3b3;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.test_left_right_bottom_content .grey_button:hover {
    background-color: darkgrey;
}

.weight_loss {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.wl_left .responsive_img {
    display: block;
    object-fit: cover;
    height: 600px;
    width: 400px;
}

.wl_right_top_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 40px 80px 40px;
    background-color: white;
}

.wl_right_top_content h2 {
    font-size: 48px;
    font-family: "Outfit", sans-serif;
}

.wl_right_top_content p {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.wl_right_bottom_content {
    display: flex;
    flex-direction: row;
}

.wl_right_right_bottom_content {
    display: flex;
    flex-direction: column;
}

.wl_right_right_bottom_content h3 {
    max-width: 400px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.wl_img {
    height: 250px;
    width: 250px;
    padding: 40px;
}

.wl_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.wl_right_bottom_content .grey_button {
    background-color: #b3b3b3;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.wl_right_bottom_content .grey_button:hover {
    background-color: darkgray;
}

.wl_right_bottom_content .white_button {
    background-color: white;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: 1px solid black;
}

.wl_right_bottom_content .white_button:hover {
    background-color: darkgray;
}

.how_it_works h1 {
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: "Outfit", sans-serif;
}

.how_it_works > .container  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 100px;
}

.how_it_works .card {
    display: flex;               
    flex-direction: column;      
    align-items: flex-start;
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px 10px;
    text-align: left;
    height: auto;
}

.card .responsive_img {
    max-width: 100%;
    height: auto;
}

.card hr {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #a2a2b8;
}

.card h2 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Outfit", sans-serif;
}

.card h3 {
    font-size: 18px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-family: "Outfit", sans-serif;
}

.card p {
    align-items: flex-start;
    font-size: 18px; 
    font-family: "Outfit", sans-serif;
    width: 100%;
}

.grey_div {
    width: 100%;
    background-color: #cfcfcf;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grey_div h3 {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    color: #c00025;
    padding: 100px 0 40px 0;
}

.grey_div p {
    font-family: "Outfit", sans-serif;
    font-size: 48px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.grey_div .red_button {
    background-color: #e4002b;
    display: inline-flex;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer; 
    border: none;
}

.grey_div .red_button:hover {
    background-color: #c00025;
}

.grey_div .red_button::after {
    content: '\279C';
    font-size: 1.2em;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.six_paragraphs .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.six_paragraphs .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 25px;
    text-align: left;
    flex-grow: 1;
    flex-basis: 0;
}

.grid_paragraphs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 100px;
}

.six_paragraphs .icon_img {
    height: 30px;
    width: auto;
    flex-shrink: 0;
}

.first_three_paragraphs,
.second_three_paragraphs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 100%;
    justify-items: center;
}

.above_slide .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.above_slide h1 {
    align-items: center;
    text-align: left;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
}

.above_slide h3 {
    align-items: center;
    text-align: left;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
}

.above_slide hr {
    width: 100%;
}

.slideshow_container {
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: #333;
    background-color: white;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide_text_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 2;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.slide_text_content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    margin-bottom: 20px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.slide_text_content p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.image_wrapper .round_picture {
    width: 80px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

.prev, 
.next {
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

        
.dots_container {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot.active, 
.dot:hover {
    background-color: #717171;
}


.faq .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
}

.faq h1 {
    align-items: center;
    text-align: left;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
}

.faq h3 {
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #c00025;
    margin-bottom: 100px;
}

.accordion {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    background-color: white;
    color: black;
    overflow: hidden;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.accordion_title {
    flex-grow: 1;
    text-align: left;
}

.accordion_title h3 {
    margin: 0;
    font-size: 1.5em;
    color: black;
    font-family: "Outfit", sans-serif
}

.accordion_toggle_btn {
    background: none;
    font-size: 2em;
    font-weight: bold;
    border: none;
    color: black;
    cursor: pointer;
    line-height: 1;
    transition: transform 0.3s ease;
}

.accordion_header.active .accordion_toggle_btn {
    transform: rotate(45deg);
}

.accordion_divider {
    border: 1px solid #b3b3b3;
    margin-bottom: 10px;
}

.accordion_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    color: black;
    font-family: "Outfit", sans-serif;
}

.accordion_content.open {
    max-height: 500px;
    padding-bottom: 15px;
}

.grey_div2 {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px 20px; 
    background-color: rgba(207, 207, 207); 
    max-width: 100%;
    gap: 40px;
}

.grey_div2 h2 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 15;
    margin-top: 100px;
}

.grey_div2 span {
    color: #c00025;
}

.grey_div_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    max-width: 50%;
    margin: 0 auto; 
    gap: 40px;
}

.grey_div_img {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grey_div_img img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    font-family: "Outfit", sans-serif;

}

.footer_top_part {
    text-align: left;
    max-width: 100%;
    margin: 30px 30px;
    padding: 0 20px;
    font-size: 16px;
}

.footer_bottom_part {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.left_footer_bottom_part {
    flex: 0 0 50%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 20px;
}

.left_footer_bottom_part img {
    height: auto;
    width: 100%;
    display: block;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.contact_info p {
    color: white;
    margin: 0;
    font-size: 0.95em;
}

.phone_number_link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
    cursor: pointer; 
}

.phone_number_link:hover {
    color: #007bff;
}

.sponsors {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.sponsors img {
    height: 100px;
    width: auto;
    display: block;
    transition: transform 0.2s ease;
}

.right_footer_bottom_part {
    flex: 0 0 50%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px; 
    align-items: flex-start;  
}

.footer_payment_methods {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.footer_payment_methods h4 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

.footer_payment_methods img {
    max-width: 250px;
    height: auto;
    display: block;
}

.footer_column {
    width: 100%;
}

.footer_column h4 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer_column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_column ul li {
    margin-bottom: 8px;
}

.footer_column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer_column ul li a:hover {
    color: #007bff;
}


@media (max-width: 768px) {

    header .container {
        justify-content: space-between;
    }

    .logo {
        margin-left: auto;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    .header_button {
        margin-left: auto;
        margin-right: 0;
    }

    .header_button .button {
        margin: 0;
        width: calc(100%-40px);
        max-width: 300px;
    }

    .hamburger_menu{
        display: flex;
    }

    .nav_links_container {
        position: absolute;
        display: none;
        flex-direction: column; 
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        padding: 20px 0;
    }

    .nav-links-container.active {
        display: flex;
    }

    .hero_section h1 {
        font-size: 24px;
        padding: 30px 0 15px 0;
    }

    p {
        font-size: 12px;
    }

    .bottles_container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 20px;
    }

    .pill_card {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: none;
        padding: 20px;
        flex-basis: auto; 
    }

    .card_left_content {
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 15px;
        align-self: center;
    }

    .card_right_content {
        width: 100%;
        flex-grow: 1;
    }

    .pill_card .responsive_img {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .get_started_button {
        padding: 12px 15px;
        font-size: 12px;
    }

    .grid_container {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
    }

    .grid {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .left_grid {
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .left_grid h2 {
        font-size: 16px;
    }

    .right_grid {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .arrow {
        height: 30px;
        width: 30px;
    }

    .us_us_fda {
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
        align-items: center;
    }

    .licence, 
    .heart, 
    .checked {
        width: 100%;
        gap: 20px;
    }

    .icon_img {
        height: 25px;
        width: 25px;
    }

    .erectile_dysfunction {
        flex-direction: column;
        min-height: auto;
        padding: 0;
    }

    .ed_left{
        flex: auto;
        width: 100%;
        padding: 40px 20px;
        align-items: center;
        text-align: center;
    }

    .ed_left_bottom_content, 
    .ed_left_top_content{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .ed_right {
        flex: auto;
        min-height: 250px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .start_treatment_button {
        padding: 15px 30px;
        font-size: 0.5em;
        margin-bottom: 40px;
    }

    .pills_bag {
        max-height: 150px;
        max-width: 200px;
    }

    .generic {
        flex-direction: column;
        gap: 25px;
        padding: 0 20px;
    }
    .generic_for_viagra, 
    .generic_for_cialis {
        max-width: 100%;
        min-width: auto;
        padding: 30px 20px;
    }
    .generic_for_viagra .responsive_img, 
    .generic_for_cialis .responsive_img {
        height: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .generic_for_viagra h3, 
    .generic_for_cialis h3 {
        font-size: 1.6em;
        margin-bottom: 10px;
    }
    .generic_for_viagra p, 
    .generic_for_cialis p {
        font-size: 0.95em;
        margin-bottom: 25px;
    }
    .generic_buttons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .red_button, .white_button {
        width: 100%;
        max-width: 250px;
    }
    
    .hair_loss,
    .testosterone,
    .weight_loss {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        max-width: 100%;
        gap: 30px;
        box-sizing: border-box;
    }

    .hl_left .responsive_img,
    .test_right .responsive_img,
    .wl_left .responsive_img,
    .couple_kissing {
        display: none;
    }

    .hl_left,
    .hl_right,
    .test_left,
    .test_right,
    .wl_left,
    .wl_right {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;

    }

    .hl_right_top_content h2,
    .test_left_top_content h2,
    .wl_right_top_content h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
    }

    .hl_right_top_content p,
    .test_left_top_content p,
    .wl_right_top_content p {
        font-size: 0.95em;
        margin-bottom: 20px;
    }

    .hl_right_bottom_content,
    .test_left_bottom_content,
    .wl_right_bottom_content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .hl_right_right_bottom_content,
    .test_left_right_bottom_content,
    .wl_right_right_bottom_content {
        align-items: center;
        text-align: center;
    }

    .hl_right_right_bottom_content p:first-child,
    .test_left_right_bottom_content p:first-child,
    .wl_right_right_bottom_content p:first-child {
        margin: 0 auto 10px auto; 
    }

    .hl_right_right_bottom_content h3,
    .test_left_right_bottom_content h3, 
    .wl_right_right_bottom_content {
        font-size: 1.8em;
    }

    .hl_right_right_bottom_content p:last-of-type,
    .test_left_right_bottom_content p:last-of-type,
    .wl_right_right_bottom_content p:last-of-type {
        font-size: 0.9em;
    }

    .hl_buttons,
    .test_buttons,
    .wl_buttons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .grey_button, .white_button {
        width: 100%;
        max-width: 250px;
    }

    .six_paragraphs {
        padding: 30px 0;
    }

    .grid_paragraphs {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .item {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        padding: 15px 20px;
    }

    .item .icon_img {
        height: 20px;
    }

    .item p {
        font-size: 14px;
    }

    .how_it_works {
        padding: 40px 15px;
    }

    .how_it_works h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .how_it_works .container {
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .how_it_works .card {
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }

    .how_it_works .card hr {
        width: 80%;
        margin: 0 auto 20px auto;
        border-top: 1px solid #ddd;
    }

    .how_it_works .card img {
        max-width: 100px;
        height: auto;
        margin: 0 auto 15px auto;
    }

    .how_it_works .card h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .how_it_works .card h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .how_it_works .card p {
        font-size: 16px;
        line-height: 1.6;
    }

    .grey_div {
        margin: auto;
        font-size: 16px;
        text-align: center;
        max-width: 100%;
    }

    .six_paragraphs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        font-size: 15px;
    }

    .above_slide {
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }

    .slideshow_container {
        position: relative;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 10px;
        box-sizing: border-box;
    }

    .slide {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    .slide_text_content p {
        align-items: center;
        margin-top: 350px;
    }

    .image_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .image_wrapper img {
        max-width: 100%;
        height: auto;
    }

    .prev, 
    .next {
        font-size: 1.5em;
        padding: 5px 8px;
    }

    .dots_container {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }

    .dots_container span,
    .dots_container .dot {
        width: 12px;
        height: 12px;
        background: gray;
        border-radius: 50%;
        display: inline-block;
    }

    .faq {
        padding: 20px 10px;
        margin: 20px auto;
    }

    .faq h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .accordion {
        width: 100%;
        max-width: 100%;
        margin: 15px auto;
    }

    .accordion_header {
        padding: 10px 15px;
    }

    .accordion_title h3 {
        font-size: 1.2em; 
    }

    .accordion_toggle_btn {
        font-size: 1.8em; 
        padding: 0 8px;
    }

    .accordion_divider {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .accordion_content {
        padding: 0 15px;
    }

    .accordion_content.open {
        padding-bottom: 10px;
    }

    .grey_div2{
        flex-direction: column;
        padding: 20px 15px;
        margin: 20px auto;
        gap: 20px;
        max-width: 100%;
    }

    .grey_div_text{
        text-align: center;
        padding: 0;
        flex: 0 0 100%;
    }

    .grey_div_text h2 {
        font-size: 1.6em;
        margin-bottom: 20px;
    }

    .grey_div_img {
        padding: 0;
        flex: 0 0 100%;
    }

    footer {
        padding: 30px 0;
    }

    .footer_top_part {
        padding: 0 15px;
        margin-bottom: 20px; 
        font-size: 0.8em;
    }

    .footer_bottom_part {
        flex-direction: column;
        align-items: center; 
        gap: 30px;
        padding: 0 15px;
    }

    .footer_logo {
        height: 50px;
        width: auto;
        max-width: 100%;
    }

    .left_footer_bottom_part{
        order: 1; /* Levi deo (logo, kontakt info, sponzori) ide prvi */
        flex: 0 0 auto; /* Resetujemo flex bazis, puštamo da zauzmu punu širinu */
        width: 100%; /* Obezbeđujemo punu širinu */
        max-width: 100%; /* Dodatna sigurnost */
        align-items: center; /* Centriramo sadržaj unutar levog dela */
        text-align: center; /* Centriramo tekst (za svaki slučaj) */
        gap: 15px;
    }

    .right_footer_bottom_part {
        order: 2; /* Desni deo (payment methods, liste) ide drugi */
        flex: 0 0 auto; /* Resetujemo flex bazis, puštamo da zauzmu punu širinu */
        width: 100%; /* Obezbeđujemo punu širinu */
        max-width: 100%; /* Dodatna sigurnost */
        align-items: center; /* Centriramo sadržaj desnog dela */
        gap: 20px;
    }

    .left_footer_bottom_part img {
        order: 1;
        height: 40px;
    }

    .contact_info {
        order: 2;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .contact_info p {
        font-size: 0.9em;
    }

    .phone_number_link {
        font-size: 1em; 
    }

    .sponsors { 
        justify-content: center; 
        gap: 10px;
        margin-top: 10px;
    }

    .sponsors img {
        height: 25px; 
    }

    .right_footer_bottom_part {
        gap: 20px;
        align-items: center; 
    }

    .footer_payment_methods {
        align-items: center;
        gap: 8px;
    }

    .footer_payment_methods h4 {
        font-size: 1em; 
        margin-bottom: 5px;
    }

    .footer_payment_methods img {
        max-width: 180px; 
    }

    .footer_column { 
        width: 100%; 
        text-align: center;
    }

    .footer_column h4 {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .footer_column ul li {
        margin-bottom: 6px;
    }

    .footer_column ul li a {
        font-size: 0.9em;
    }

    hr { 
        width: 80%;
        margin: 20px auto 0 auto;
    }

}